@import url('https://fonts.googleapis.com/css?family=Dosis|Fira+Sans');

.app {
  text-align: center;
  overflow-x: hidden;
  margin: 220px 260px 220px 260px;
  font-family: 'Fira Sans', sans-serif;
}

.row {
  height: 100px;
  border-top: 2px solid #F5F5F5;
}
