
.row {
  overflow: hidden;
  background-image: url('http://i.imgur.com/CX4cyHz.png');
  background-size: 100%;
  height: 36vh;
  font-family: 'Dosis', sans-serif;
}

/*///// HEADER TEXT /////*/
.text {
  color: #FFFFFF;
  font-size: 38pt;
  text-transform: uppercase;
  padding: 24px;
  line-height: 125%;
  letter-spacing: 3px;
  font-family: 'Dosis', sans-serif;
}

/*///// SHAPER LOGO /////*/
.logo {
  margin-top: 2%;
  margin-right: 30%;
}

/*///// HEADER BUTTON /////*/
.button {
    border: 2px solid #30D2A9;
    border-radius: 5px;
    font-family: 'Fira Sans', sans-serif;
    text-transform: uppercase;
    color: white;
    padding: 12px 12px 10px 12px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-top: 3%;
    margin-left: 30%;
}

.button:hover {
    background-color: #30D2A9;
    text-decoration: none;
    color: #FFFFFF;
}

.button:focus {
    background-color: #30D2A9;
    text-decoration: none;
    color: #FFFFFF;
}
