.projectContainer {
  background-color: #F5F5F5;
  height: 850px;
  padding: 100px;
  padding-top: 40px;
}

/*////// PROJECTS /////*/
.project {
  height: auto;
  width: auto;
  margin-bottom: 34px;
}

/*///// PROJECT IMAGE /////*/
.projectImage {
  width: 260px;
  height: 190px;
  margin-bottom: -34px;
}

/*///// PROJECT LIKES BUTTON /////*/
.projectLikes {
  background-color: #FFFFFF;
  border: none;
  border-radius: 25px;
  font-family: 'Fira Sans', sans-serif;
  padding: 4px 12px 2px 12px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top: -20px;
  margin-left: 180px;;

}

.projectLikes:hover {
    background-color: #30D2A9;
    text-decoration: none;
    color: #FFFFFF;
}

.projectLikes:focus {
    background-color: #30D2A9;
    text-decoration: none;
    color: #FFFFFF;
}

.thumbsUp {
  color: #30D2A9;
  font-size: 18pt;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.thumbsUp:hover {
  color: #FFFFFF;
}

.thumbsUp:focus {
  color: #FFFFFF;
}

/*///// PROJECT TITLES /////*/
.projectTitle {
  font-size: 13pt;
  text-align: left;
  margin-left: 10px;
  padding-top: 20px;
}
