.nextArrow {
  background-color: #D9D9D9;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  margin-top: 200px;
  margin-left: 40px;
}

.icon {
  color: #FFFFFF;
  font-size: 32pt;
  margin-left: 6px;
  margin-top: 6px;
}
