.sliderComponents {
  display: inline-block;
  vertical-align:top;
}

.slide {
  background-color: red;
}

/*///// SLIDER TITLE /////*/
.title {
  text-transform: uppercase;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: left;
  margin-top: 50px;
  margin-left: 100px;
}
